*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  font-size: 1.4rem;
  font-family: 'Neue Helvetica W01', 'AXIS Font Japanese W55', 'Helvetica Neue', sans-serif;
  font-feature-settings: "palt";
}

ul {
  list-style-type: none;
}

a {
  color: #333;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-align: center;
  width: 15vw;
  height: 6vh;
  background-color: #ffffff;
  color: #EC7938;
  border: solid 2px #EC7938;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
}
.btn:hover {
  background-color: #EC7938;
  color: #ffffff;
}