*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  font-size: 1.4rem;
  font-family: 'Neue Helvetica W01', 'AXIS Font Japanese W55', 'Helvetica Neue', sans-serif;
  font-feature-settings: "palt";
}

ul {
  list-style-type: none;
}

a {
  color: #333;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
